<!DOCTYPE html>
<html>
    <head>
        <title>Votes- {{ question.question_text}}</title>
    </head>
    <body>
        {{ question.question_text }}
        <form action="/polls/questions/{{question.id}}" method="POST">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
            <input type="submit" value="Vote">
        </form>
    </body>
</html>