<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
    </head>
    <body>
        <h1 style="text-align:center;">Welcome </h1>
        <form method="POST" action="/logout/">
            {% csrf_token %}
            <input style="margin-left:75%;" type="submit" name="create_channel" value="logout">
        </form>
        <form style="margin-left:40%;" method="POST" action="/moderator">
            {% csrf_token %}
            <input type="text" name="channel" placeholder="Enter Channel Name" required="required" pattern="[a-zA-Z]+"> <br><br>
            <input style="margin-left:13%;" type="submit" name="create_channel" value="create">
        </form>
    </body>
</html>